<div class="topBanner">
<!--
    <a href="/announcements/2019/05/announcing-cpp-now-2020/#awards" class="a">2019 Speaker Awards</a>
    &nbsp;&nbsp;||&nbsp;&nbsp;
    <a href="/announcements/2018/12/2019-call-for-submissions/" class="a">Accepting 2019 Submissions</a>
    &nbsp;&nbsp;||&nbsp;&nbsp;
    <a href="/schedule/" class="a">2019 Schedule is online!</a>
    &nbsp;&nbsp;||&nbsp;&nbsp;
    <a href="/schedule/lightning.talks/" class="a">Submit Lightning Talks</a>
    &nbsp;&nbsp;||&nbsp;&nbsp;
-->
    <a href="/announcements/2020/03/Canceled/" class="a">2020 Canceled</a>
<!-- 
    &nbsp;&nbsp;||&nbsp;&nbsp;
    <a href="/announcements/2020/03/BoostScholarshipFund/" class="a">Support Student Volunteers</a>
    &nbsp;&nbsp;||&nbsp;&nbsp;
    <a href="/announcements/2020/02/2020-registration-is-open/" class="a">Registration is Open</a>
    &nbsp;&nbsp;||&nbsp;&nbsp;
    <a href="/location/lodging/" class="a">Reserve Your Hotel Room</a>
    <a href="/announcements/2019/05/announcing-cpp-now-2020/#reports" class="a">2019 Trip Reports</a>
    <a href="/announcements/2019/12/2020-CfS/" class="a">Accepting 2020 Submissions</a>
    &nbsp;&nbsp;||&nbsp;&nbsp;
    <a href="/announcements/2019/12/2020-call-for-student-volunteers/" class="a">Become a Volunteer</a>
    &nbsp;&nbsp;||&nbsp;&nbsp;
    <a href="/announcements/2019/05/announcing-cpp-now-2020/#dates" class="a">2020 Dates</a>
 -->
</div>
