<div class="homeHeader">
    <div class="homeHeaderTopBox">
        <div class="homeHeaderTopBoxForce">
            <a href="/"><img src="/assets/img/theme/CppNowLogo.svg" alt="C++Now Logo" class="homeHeaderLogo"></a>
            <div class="homeHeaderDates">
                <span class="nowrap">{{site.current_year_start_date}}</span> - <span class="nowrap">{{site.current_year_end_date}}</span>
            </div>
            <h4 class="homeHeaderSubtitle">A gathering of C++ experts and enthusiasts from around the world in beautiful Aspen, Colorado</h4>
        </div>
    </div>
    <!-- <div class="homeHeaderBottomBox">
        <a href="/registration/" class="homeHeaderTickets buttonPrimaryLarge">Registration</a>
    </div> -->
</div>