<div class="homeHeader">
    <div class="homeHeaderTopBox">
        <div class="homeHeaderTopBoxForce">
            <a href="/" class="homeHeaderLogoLink"><img src="/assets/img/theme/CppNowLogo.svg" alt="C++Now Logo" class="homeHeaderLogo"></a>
            <div class="homeHeaderDates">
                {% if site.current_year_canceled %}<span>canceled for {{site.current_year}}</span>{% else %}<span class="nowrap">{{site.current_year_start_date}}</span> - <span class="nowrap">{{site.current_year_end_date}}</span>{% endif %}
                
            </div>
            <h4 class="homeHeaderSubtitle">{{ site.description }}</h4>
        </div>
    </div>
    <!-- <div class="homeHeaderBottomBox">
        <a href="/registration/" class="homeHeaderTickets buttonPrimaryLarge">Registration</a>
    </div> -->
</div>
