<div>
    <blockquote class="quoteBox replaceQuote sidebar_text">
        <span class="quoteBoxImage quoteBoxQuotes sidebar_text"></span>
        <p class="quoteBoxText sidebar_text">
            To hear the answer to a C++ question, go to CppCon.<br>
            If you want to be part of finding the answer, go to C++Now.
        </p>
        <span class="quoteBoxAuthor sidebar_text">Jon Kalb</span>
        <span class="quoteBoxCredentials sidebar_text">Conference Chair CppCon, Conference Chair C++Now</span>
    </blockquote>
</div>
<script src="/assets/js/AboutPageQuoteShuffler.js"></script>
