<div class="navBox">
    <ul class="nav">
        {% for item in site.data.nav %}
            <li class="navItem">
                <a href="{{item.link | uri_escape}}" class="navLink" tabindex="0">{{item.title | xml_escape}}</a>
                {% if item.children %}
                    <input id="nav-{{item.title | slugify: 'pretty'}}" class="navInput" tabindex="0" type="checkbox" />
                    <label for="nav-{{item.title | slugify: 'pretty'}}" class="navDropdownArrow"></label>
                    <ul class="subnav">
                        {% for child in item.children %}
                            <li class="navItem">
                                <a href="{{child.link | uri_escape}}" class="navLink" tabindex="0">{{child.title | xml_escape}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>