:root {
    --baseTextColor: #222;
    --buttonTextColor: #fff;
    --midGreyColor: #656565;
    --lightGreyColor: #95a5a6;

    --primaryColor: #1abc9c;
    --secondaryColor: #16a085;
    --primaryTextColor: #16a085;

    --warningColor: #e67e22;
    --dangerColor: #c0392b;
    --dangerLightColor: #e74c3c;

    --lightColor: #ecf0f1;

    --navBackgroundColor: #1abc9c;
    --subnavBackgroundColor: #16a085;
    --navTextColor: #fff;

    --deepBlue: #34495e;
    --deepestBlue: #2c3e50;
}
