
/* components/asideImage.css */

.asideImageRight {
    margin: 0 0 16px 16px;
    padding: 8px;
    border-radius: 10px;
    max-width: 50%;
    background: var(--lightColor);
    float: right;
}

.asideImageLeft {
    margin: 0 0 16px 16px;
    padding: 8px;
    max-width: 50%;
    background: var(--lightColor);
    float: left;
}

.figureTable {
    width: 100%;
    display: table;

    img {
        border-radius: 4px;
        width: 100%;
    }

    p {
        margin-bottom: 0;
        padding: 4px;
        display: table-caption;
        caption-side: bottom;
        font-size: 14px;
    }
}
