
/* components/sponsors.css */


/* Note, if we use words like "Sponsor" in the css classnames, ad blockers will likely hide them. */

.sBox {
    h2 {
        display: none;
    }

    h3 {
        margin-bottom: 4px;
        font-size: 18px;
        line-height: 1.4;
        font-weight: 300;
        color: var(--midGreyColor);
    }
}

.sLink {
    margin-bottom: 32px;
    display: block;
}

.sImage {
    width: 320px;
    max-width: 100%;
}

.anonymous {
    font-style: italic;
}
