<div class="homeHeader">
    <div class="homeHeaderTopBox">
        <h1 class="visuallyhide">{% if page.title != null %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</h1>
        <img src="/assets/img/theme/CppNowLogo.svg" alt="C++Now Logo" class="homeHeaderLogo">
        <div class="homeHeaderDates">
            <span class="nowrap">May 15, 2017</span> - <span class="nowrap">May 20, 2017</span>
        </div>
        <h4 class="homeHeaderSubtitle">A gathering of C++ experts and enthusiasts from around the world in beautiful Aspen, Colorado</h4>
    </div>
    <div class="homeHeaderBottomBox">
        <a href="#tickets" class="homeHeaderTickets buttonPrimaryLarge">Tickets</a>
    </div>
</div>