<div class="navBox">
    <ul class="nav">
        <li class="navItem">
            <a href="/" class="navLink">Home</a>
        </li>
        <li class="navItem">
            <a href="" class="navLink">Announcements</a>
        </li>
        <li class="navItem">
            <a href="/about/" class="navLink">About</a>
            <input id="nav-About" class="navInput" tabindex="0" type="checkbox" />
            <label for="nav-About" class="navDropdownArrow"></label>
            <ul class="subnav">
                <li class="navItem">
                    <a href="/about/corporatesponsors/" class="navLink">Corporate Sponsors</a>
                </li>
                <li class="navItem">
                    <a href="/about/individualsponsors/" class="navLink">Individual Sponsors</a>
                </li>
                <li class="navItem">
                    <a href="/about/volunteers/" class="navLink">Volunteers</a>
                </li>
                <li class="navItem">
                    <a href="/about/faq/" class="navLink">FAQ</a>
                </li>
                <li class="navItem">
                    <a href="/about/contact/" class="navLink">Contact</a>
                </li>
            </ul>
        </li>
        <li class="navItem">
            <a href="" class="navLink">Schedule</a>
        </li>
        <li class="navItem">
            <a href="" class="navLink">Location</a>
            <input id="nav-Location" class="navInput" tabindex="0" type="checkbox" />
            <label for="nav-Location" class="navDropdownArrow"></label>
            <ul class="subnav">
                <li class="navItem">
                    <a href="" class="navLink">Venue</a>
                </li>
                <li class="navItem">
                    <a href="" class="navLink">Lodging</a>
                </li>
                <li class="navItem">
                    <a href="" class="navLink">Room Sharing</a>
                </li>
                <li class="navItem">
                    <a href="" class="navLink">Ride Sharing</a>
                </li>
                <li class="navItem">
                    <a href="" class="navLink">Nearby Attractions</a>
                </li>
            </ul>
        </li>
        <li class="navItem">
            <a href="" class="navLink">History</a>
            <input id="nav-History" class="navInput" tabindex="0" type="checkbox" />
            <label for="nav-History" class="navDropdownArrow"></label>
            <ul class="subnav">
                <li class="navItem">
                    <a href="" class="navLink">2017 Schedule</a>
                </li>
                <li class="navItem">
                    <a href="" class="navLink">2017 Talks</a>
                </li>
                <li class="navItem">
                    <a href="" class="navLink">2016 Schedule</a>
                </li>
                <li class="navItem">
                    <a href="" class="navLink">2016 Talks</a>
                </li>
                <li class="navItem">
                    <a href="" class="navLink">2015 Schedule</a>
                </li>
                <li class="navItem">
                    <a href="" class="navLink">2015 Talks</a>
                </li>
            </ul>
        </li>
        <li class="navItem">
            <a href="" class="navLink">Get Tickets</a>
        </li>
    </ul>
</div>