.nowrap {
    white-space: nowrap;
}

.stretch {
    flex: 1;
}

.visuallyhide {
    position: absolute;
    top: auto;
    left: -99999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.hide {
    display: none;
}