body {
    color: var(--baseTextColor);
    font-family: system-ui;
}

.contentBox {
    h1 {
        margin-bottom: 16px;
        font-size: 48px;
        line-height: 1.4;
        font-weight: 200;
        color: var(--primaryColor);
    }

    h2 {
        margin-bottom: 8px;
        font-size: 40px;
        line-height: 1.4;
        font-weight: 200;
        color: var(--primaryColor);
    }

    h3 {
        margin-bottom: 4px;
        font-size: 32px;
        line-height: 1.4;
        font-weight: 200;
        color: var(--primaryColor);
    }

    p {
        margin-bottom: 16px;
        line-height: 1.4;
    }

    ul, ol {
        margin-bottom: 16px;

        & ul, & ol {
            margin-bottom: 0;
        }
    }

    li {
        line-height: 1.4;
    }

    a {
        text-decoration: underline;
        color: var(--primaryTextColor);
        transition: color 0.1s ease-in-out;

        &:hover, &:focus {
            color: color(var(--primaryTextColor) lightness(+5%));
        }

        &:active {
            color: color(var(--primaryTextColor) lightness(-5%));
        }
    }
}

.a {
    text-decoration: underline;
    color: var(--primaryTextColor);
    transition: color 0.1s ease-in-out;

    &:hover, &:focus {
        color: color(var(--primaryTextColor) lightness(+5%));
    }

    &:active {
        color: color(var(--primaryTextColor) lightness(-5%));
    }
}

.sponsors {
    margin-bottom: 32px;
    padding: 8px 16px;
    border-left: 8px solid var(--secondaryColor);
}

.sponsorBox {
    margin-bottom: 32px;

    & img {
        width: 320px;
        max-width: 100%;
    }
}

.quote {
    margin: 32px 0 16px 32px;
    padding: 32px 32px 32px 48px;
    background-color: var(--lightColor);
    border-radius: 16px;
    position: relative;

    &:after {
        content: '';
        font-family: serif;
        position: absolute;
        top: -16px;
        left: -32px;
        width: 64px;
        height: 64px;
        border-radius: 1000px;
        background-color: var(--secondaryColor);
        background-image: url(/assets/img/theme/quote.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 32px;
    }

    & &Text {
        margin-bottom: 8px;
        font-family: serif;
        font-size: 28px;
        color: var(--baseTextColor);
    }

    &Author {
        display: block;
        font-size: 18px;
        text-align: right;
        font-weight: bold;
        color: var(--baseTextColor);
    }

    &Credentials {
        display: block;
        font-size: 18px;
        text-align: right;
        color: var(--midGreyColor);
    }
}

.tripReport {
    margin: 32px 0 16px 32px;
    padding: 32px 32px 32px 48px;
    background-color: #ecf0f1;
    border-radius: 16px;
    position: relative;
    font-size: 24px;

    &:after {
        content: '';
        font-family: serif;
        position: absolute;
        top: -16px;
        left: -32px;
        width: 64px;
        height: 64px;
        border-radius: 1000px;
        background-color: var(--secondaryColor);
        background-image: url(/assets/img/theme/airplane.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 32px;
    }
}


.yt {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;

    & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}