
/* theme.css */

body {
    color: var(--baseTextColor);
    font-family: system-ui;
}

.formattedTags {
    font-size: 18px;

    h1 {
        margin-bottom: 16px;
        font-size: 48px;
        line-height: 1.4;
        font-weight: 200;
        color: var(--primaryColor);
    }

    h2 {
        margin-bottom: 8px;
        font-size: 38px;
        line-height: 1.4;
        font-weight: 200;
        color: var(--secondaryColor);
    }

    h3 {
        margin-bottom: 4px;
        font-size: 32px;
        line-height: 1.4;
        font-weight: 200;
        color: var(--midGreyColor);
    }

    h4 {
        margin-bottom: 4px;
        font-size: 24px;
        line-height: 1.4;
        font-weight: 600;
        color: var(--midGreyColor);
    }

    p {
        margin-bottom: 16px;
        line-height: 1.4;
    }

    ul, ol {
        margin-bottom: 16px;

        & ul, & ol {
            margin-bottom: 0;
        }
    }

    ul li {
        margin-left: 32px;
        list-style: disc;
        line-height: 1.4;
    }

    ol li {
        margin-left: 32px;
        list-style: decimal;
        line-height: 1.4;
    }

    a {
        text-decoration: underline;
        color: var(--primaryTextColor);
        transition: color 0.1s ease-in-out;

        &:hover, &:focus {
            color: color(var(--primaryTextColor) lightness(+5%));
        }

        &:active {
            color: color(var(--primaryTextColor) lightness(-5%));
        }
    }

    img {
        margin: 0 auto;
        max-width: 100%;
    }

    blockquote {
        margin-bottom: 16px;
        padding: 8px 16px;
        background-color: var(--lightColor);
        border-radius: 8px;
        font-family: serif;
        font-size: 24px;

        & p {
            margin-bottom: 0;
        }
    }

    hr {
        margin: 16px 0;
        height: 1;
        border-bottom: 1px solid var(--primaryColor);
    }
}

.pageTitle {
    margin-bottom: 8px;
    font-size: 42px;
    line-height: 1.4;
    font-weight: 200;
    color: var(--primaryColor);
}

.a {
    text-decoration: underline;
    color: var(--primaryTextColor);
    transition: color 0.1s ease-in-out;

    &:hover, &:focus {
        color: color(var(--primaryTextColor) lightness(+5%));
    }

    &:active {
        color: color(var(--primaryTextColor) lightness(-5%));
    }
}

.greyText {
    color: var(--midGreyColor);
}
