<map name="wordCloudMap">
<area shape="rect" alt="12" href="https://cppnow2019.sched.com/?s=PMR" coords="428,264,440,272" target="wordcloud">
<area shape="rect" alt="16" href="https://cppnow2019.sched.com/?s=move" coords="404,256,420,262" target="wordcloud">
<area shape="rect" alt="16" href="https://cppnow2019.sched.com/?s=C%2B%2B23" coords="404,264,420,270" target="wordcloud">
<area shape="rect" alt="16" href="https://cppnow2019.sched.com/?s=const" coords="404,268,420,274" target="wordcloud">
<area shape="rect" alt="16" href="https://cppnow2019.sched.com/?s=units" coords="432,316,448,322" target="wordcloud">
<area shape="rect" alt="16" href="https://cppnow2019.sched.com/?s=C%2B%2BNow" coords="432,280,448,286" target="wordcloud">
<area shape="rect" alt="20" href="https://cppnow2019.sched.com/?s=course" coords="364,276,384,282" target="wordcloud">
<area shape="rect" alt="20" href="https://cppnow2019.sched.com/?s=CppCon" coords="444,300,464,306" target="wordcloud">
<area shape="rect" alt="20" href="https://cppnow2019.sched.com/?s=numeric" coords="388,292,408,298" target="wordcloud">
<area shape="rect" alt="20" href="https://cppnow2019.sched.com/?s=function" coords="468,244,488,254" target="wordcloud">
<area shape="rect" alt="20" href="https://cppnow2019.sched.com/?s=locality" coords="500,292,520,302" target="wordcloud">
<area shape="rect" alt="24" href="https://cppnow2019.sched.com/?s=Meltdown" coords="444,220,468,230" target="wordcloud">
<area shape="rect" alt="24" href="https://cppnow2019.sched.com/?s=ordering" coords="412,220,436,230" target="wordcloud">
<area shape="rect" alt="24" href="https://cppnow2019.sched.com/?s=extension" coords="416,356,440,362" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=framework" coords="232,408,260,418" target="wordcloud">
<area shape="rect" alt="20" href="https://cppnow2019.sched.com/?s=ownership" coords="360,312,380,322" target="wordcloud">
<area shape="rect" alt="24" href="https://cppnow2019.sched.com/?s=semantics" coords="468,312,492,318" target="wordcloud">
<area shape="rect" alt="24" href="https://cppnow2019.sched.com/?s=sum-types" coords="388,328,412,334" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=complexity" coords="320,444,348,454" target="wordcloud">
<area shape="rect" alt="20" href="https://cppnow2019.sched.com/?s=imperative" coords="400,280,420,286" target="wordcloud">
<area shape="rect" alt="24" href="https://cppnow2019.sched.com/?s=properties" coords="444,296,468,302" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=composition" coords="292,292,320,298" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=conferences" coords="252,336,280,346" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=low+latency" coords="260,164,288,174" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=constructors" coords="528,316,556,322" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=function_ref" coords="276,188,304,198" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=graph+theory" coords="508,420,536,428" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=minimal+code" coords="428,80,460,90" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=optimization" coords="372,368,400,374" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=preprocessor" coords="332,296,364,302" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=statemachine" coords="584,284,616,294" target="wordcloud">
<area shape="rect" alt="36" href="https://cppnow2019.sched.com/?s=communicating" coords="372,416,408,422" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=customization" coords="452,340,484,346" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=ISO+Committee" coords="432,292,464,298" target="wordcloud">
<area shape="rect" alt="36" href="https://cppnow2019.sched.com/?s=name+mangling" coords="236,364,272,374" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=library+design" coords="484,144,516,154" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=linear+algebra" coords="576,160,608,170" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=physical+units" coords="344,144,376,154" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=threat+hunting" coords="240,288,272,298" target="wordcloud">
<area shape="rect" alt="36" href="https://cppnow2019.sched.com/?s=algebraic+types" coords="604,240,640,250" target="wordcloud">
<area shape="rect" alt="36" href="https://cppnow2019.sched.com/?s=compiler+design" coords="208,224,244,234" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=interface+design" coords="228,388,260,396" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=language+feature" coords="364,444,396,454" target="wordcloud">
<area shape="rect" alt="40" href="https://cppnow2019.sched.com/?s=transform_reduce" coords="552,444,592,454" target="wordcloud">
<area shape="rect" alt="40" href="https://cppnow2019.sched.com/?s=inline+namespaces" coords="280,292,320,302" target="wordcloud">
<area shape="rect" alt="44" href="https://cppnow2019.sched.com/?s=spaceship+operator" coords="252,412,296,422" target="wordcloud">
<area shape="rect" alt="44" href="https://cppnow2019.sched.com/?s=discriminated+union" coords="344,112,388,122" target="wordcloud">
<area shape="rect" alt="44" href="https://cppnow2019.sched.com/?s=precompiled+headers" coords="500,444,544,454" target="wordcloud">
<area shape="rect" alt="44" href="https://cppnow2019.sched.com/?s=dependency+injection" coords="256,320,300,330" target="wordcloud">
<area shape="rect" alt="56" href="https://cppnow2019.sched.com/?s=competitive+programming" coords="464,416,520,422" target="wordcloud">
<area shape="rect" alt="52" href="https://cppnow2019.sched.com/?s=human+machine+interface" coords="528,204,580,214" target="wordcloud">
<area shape="rect" alt="64" href="https://cppnow2019.sched.com/?s=deterministic+finite+automaton" coords="304,412,368,422" target="wordcloud">
<area shape="rect" alt="20" href="https://cppnow2019.sched.com/?s=RAII" coords="428,320,448,328" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=audio" coords="524,272,552,280" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=cache" coords="360,320,388,328" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=CMake" coords="524,320,556,328" target="wordcloud">
<area shape="rect" alt="24" href="https://cppnow2019.sched.com/?s=regex" coords="432,304,456,316" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=ISO+C%2B%2B" coords="372,200,404,208" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=lambdas" coords="368,216,400,224" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=linking" coords="388,284,416,296" target="wordcloud">
<area shape="rect" alt="40" href="https://cppnow2019.sched.com/?s=assembly" coords="356,480,396,492" target="wordcloud">
<area shape="rect" alt="40" href="https://cppnow2019.sched.com/?s=proposal" coords="228,188,268,200" target="wordcloud">
<area shape="rect" alt="36" href="https://cppnow2019.sched.com/?s=unicorns" coords="432,284,468,292" target="wordcloud">
<area shape="rect" alt="44" href="https://cppnow2019.sched.com/?s=executors" coords="408,480,452,488" target="wordcloud">
<area shape="rect" alt="44" href="https://cppnow2019.sched.com/?s=assertions" coords="580,316,624,324" target="wordcloud">
<area shape="rect" alt="56" href="https://cppnow2019.sched.com/?s=mathematics" coords="304,152,360,160" target="wordcloud">
<area shape="rect" alt="52" href="https://cppnow2019.sched.com/?s=type+system" coords="312,188,364,200" target="wordcloud">
<area shape="rect" alt="60" href="https://cppnow2019.sched.com/?s=benchmarking" coords="284,480,344,492" target="wordcloud">
<area shape="rect" alt="52" href="https://cppnow2019.sched.com/?s=class+design" coords="408,188,460,200" target="wordcloud">
<area shape="rect" alt="56" href="https://cppnow2019.sched.com/?s=compatibility" coords="396,228,452,240" target="wordcloud">
<area shape="rect" alt="60" href="https://cppnow2019.sched.com/?s=object+lifetime" coords="384,272,444,284" target="wordcloud">
<area shape="rect" alt="84" href="https://cppnow2019.sched.com/?s=software+engineering" coords="240,444,324,456" target="wordcloud">
<area shape="rect" alt="84" href="https://cppnow2019.sched.com/?s=financial+engineering" coords="524,480,608,492" target="wordcloud">
<area shape="rect" alt="44" href="https://cppnow2019.sched.com/?s=ranges" coords="556,276,600,292" target="wordcloud">
<area shape="rect" alt="48" href="https://cppnow2019.sched.com/?s=Spectre" coords="168,312,216,328" target="wordcloud">
<area shape="rect" alt="44" href="https://cppnow2019.sched.com/?s=variant" coords="336,284,380,296" target="wordcloud">
<area shape="rect" alt="60" href="https://cppnow2019.sched.com/?s=coroutines" coords="276,224,336,236" target="wordcloud">
<area shape="rect" alt="68" href="https://cppnow2019.sched.com/?s=refactoring" coords="624,232,692,248" target="wordcloud">
<area shape="rect" alt="68" href="https://cppnow2019.sched.com/?s=type+safety" coords="276,504,344,520" target="wordcloud">
<area shape="rect" alt="80" href="https://cppnow2019.sched.com/?s=secure+coding" coords="404,144,484,160" target="wordcloud">
<area shape="rect" alt="104" href="https://cppnow2019.sched.com/?s=pattern+matching" coords="392,536,496,552" target="wordcloud">
<area shape="rect" alt="144" href="https://cppnow2019.sched.com/?s=domain+specific+language" coords="336,52,480,68" target="wordcloud">
<area shape="rect" alt="36" href="https://cppnow2019.sched.com/?s=ABIs" coords="336,300,372,316" target="wordcloud">
<area shape="rect" alt="48" href="https://cppnow2019.sched.com/?s=C%2B%2B11" coords="236,132,284,148" target="wordcloud">
<area shape="rect" alt="68" href="https://cppnow2019.sched.com/?s=modules" coords="172,232,240,248" target="wordcloud">
<area shape="rect" alt="76" href="https://cppnow2019.sched.com/?s=languages" coords="164,244,240,264" target="wordcloud">
<area shape="rect" alt="76" href="https://cppnow2019.sched.com/?s=efficiency" coords="608,248,684,268" target="wordcloud">
<area shape="rect" alt="96" href="https://cppnow2019.sched.com/?s=modern+C%2B%2B" coords="576,168,672,184" target="wordcloud">
<area shape="rect" alt="88" href="https://cppnow2019.sched.com/?s=correctness" coords="152,260,240,276" target="wordcloud">
<area shape="rect" alt="88" href="https://cppnow2019.sched.com/?s=declarative" coords="588,368,676,384" target="wordcloud">
<area shape="rect" alt="92" href="https://cppnow2019.sched.com/?s=architecture" coords="308,368,400,384" target="wordcloud">
<area shape="rect" alt="124" href="https://cppnow2019.sched.com/?s=design+patterns" coords="164,148,288,168" target="wordcloud">
<area shape="rect" alt="124" href="https://cppnow2019.sched.com/?s=standardization" coords="220,488,344,504" target="wordcloud">
<area shape="rect" alt="52" href="https://cppnow2019.sched.com/?s=SG14" coords="528,116,580,136" target="wordcloud">
<area shape="rect" alt="56" href="https://cppnow2019.sched.com/?s=Boost" coords="264,272,320,292" target="wordcloud">
<area shape="rect" alt="88" href="https://cppnow2019.sched.com/?s=contracts" coords="152,276,240,296" target="wordcloud">
<area shape="rect" alt="96" href="https://cppnow2019.sched.com/?s=education" coords="600,264,696,284" target="wordcloud">
<area shape="rect" alt="100" href="https://cppnow2019.sched.com/?s=containers" coords="492,92,592,112" target="wordcloud">
<area shape="rect" alt="92" href="https://cppnow2019.sched.com/?s=interfaces" coords="568,408,660,428" target="wordcloud">
<area shape="rect" alt="124" href="https://cppnow2019.sched.com/?s=compile-time" coords="164,168,288,192" target="wordcloud">
<area shape="rect" alt="144" href="https://cppnow2019.sched.com/?s=data+structures" coords="440,364,584,384" target="wordcloud">
<area shape="rect" alt="184" href="https://cppnow2019.sched.com/?s=exception+handling" coords="360,64,544,88" target="wordcloud">
<area shape="rect" alt="40" href="https://cppnow2019.sched.com/?s=STL" coords="388,304,428,328" target="wordcloud">
<area shape="rect" alt="72" href="https://cppnow2019.sched.com/?s=C%2B%2B14" coords="212,392,284,416" target="wordcloud">
<area shape="rect" alt="124" href="https://cppnow2019.sched.com/?s=embedded" coords="564,384,688,408" target="wordcloud">
<area shape="rect" alt="116" href="https://cppnow2019.sched.com/?s=allocators" coords="524,136,640,160" target="wordcloud">
<area shape="rect" alt="116" href="https://cppnow2019.sched.com/?s=functional" coords="172,368,288,388" target="wordcloud">
<area shape="rect" alt="164" href="https://cppnow2019.sched.com/?s=polymorphism" coords="340,512,504,540" target="wordcloud">
<area shape="rect" alt="124" href="https://cppnow2019.sched.com/?s=concepts" coords="532,184,656,212" target="wordcloud">
<area shape="rect" alt="108" href="https://cppnow2019.sched.com/?s=libraries" coords="488,420,596,448" target="wordcloud">
<area shape="rect" alt="108" href="https://cppnow2019.sched.com/?s=testing" coords="212,292,320,328" target="wordcloud">
<area shape="rect" alt="120" href="https://cppnow2019.sched.com/?s=security" coords="512,204,632,240" target="wordcloud">
<area shape="rect" alt="208" href="https://cppnow2019.sched.com/?s=build+systems" coords="284,80,492,116" target="wordcloud">
<area shape="rect" alt="220" href="https://cppnow2019.sched.com/?s=cross-platform" coords="344,480,564,516" target="wordcloud">
<area shape="rect" alt="172" href="https://cppnow2019.sched.com/?s=constexpr" coords="216,416,388,452" target="wordcloud">
<area shape="rect" alt="184" href="https://cppnow2019.sched.com/?s=algorithms" coords="528,284,712,324" target="wordcloud">
<area shape="rect" alt="192" href="https://cppnow2019.sched.com/?s=templates" coords="164,188,356,236" target="wordcloud">
<area shape="rect" alt="244" href="https://cppnow2019.sched.com/?s=Clang/LLVM" coords="284,112,528,160" target="wordcloud">
<area shape="rect" alt="412" href="https://cppnow2019.sched.com/?s=generic+programming" coords="244,444,656,488" target="wordcloud">
<area shape="rect" alt="92" href="https://cppnow2019.sched.com/?s=APIs" coords="396,416,488,452" target="wordcloud">
<area shape="rect" alt="288" href="https://cppnow2019.sched.com/?s=best+practices" coords="288,148,576,200" target="wordcloud">
<area shape="rect" alt="284" href="https://cppnow2019.sched.com/?s=concurrency" coords="284,384,568,428" target="wordcloud">
<area shape="rect" alt="164" href="https://cppnow2019.sched.com/?s=C%2B%2B17" coords="356,188,520,236" target="wordcloud">
<area shape="rect" alt="368" href="https://cppnow2019.sched.com/?s=performance" coords="240,224,608,288" target="wordcloud">
<area shape="rect" alt="568" href="https://cppnow2019.sched.com/?s=metaprogramming" coords="144,316,712,384" target="wordcloud">
<area shape="rect" alt="208" href="https://cppnow2019.sched.com/?s=C%2B%2B20" coords="320,272,528,328" target="wordcloud">
</map>
