<map name="wordCloudMap">
<area shape="rect" alt="12" href="https://cppnow2019.sched.com/?s=PMR" coords="288,214,300,222" target="wordcloud">
<area shape="rect" alt="16" href="https://cppnow2019.sched.com/?s=move" coords="264,206,280,212" target="wordcloud">
<area shape="rect" alt="16" href="https://cppnow2019.sched.com/?s=C%2B%2B23" coords="264,214,280,220" target="wordcloud">
<area shape="rect" alt="16" href="https://cppnow2019.sched.com/?s=const" coords="264,218,280,224" target="wordcloud">
<area shape="rect" alt="16" href="https://cppnow2019.sched.com/?s=units" coords="292,266,308,272" target="wordcloud">
<area shape="rect" alt="16" href="https://cppnow2019.sched.com/?s=C%2B%2BNow" coords="292,230,308,236" target="wordcloud">
<area shape="rect" alt="20" href="https://cppnow2019.sched.com/?s=course" coords="224,226,244,232" target="wordcloud">
<area shape="rect" alt="20" href="https://cppnow2019.sched.com/?s=CppCon" coords="304,250,324,256" target="wordcloud">
<area shape="rect" alt="20" href="https://cppnow2019.sched.com/?s=numeric" coords="248,242,268,248" target="wordcloud">
<area shape="rect" alt="20" href="https://cppnow2019.sched.com/?s=function" coords="328,194,348,204" target="wordcloud">
<area shape="rect" alt="20" href="https://cppnow2019.sched.com/?s=locality" coords="360,242,380,252" target="wordcloud">
<area shape="rect" alt="24" href="https://cppnow2019.sched.com/?s=Meltdown" coords="304,170,328,180" target="wordcloud">
<area shape="rect" alt="24" href="https://cppnow2019.sched.com/?s=ordering" coords="272,170,296,180" target="wordcloud">
<area shape="rect" alt="24" href="https://cppnow2019.sched.com/?s=extension" coords="276,306,300,312" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=framework" coords="92,358,120,368" target="wordcloud">
<area shape="rect" alt="20" href="https://cppnow2019.sched.com/?s=ownership" coords="220,262,240,272" target="wordcloud">
<area shape="rect" alt="24" href="https://cppnow2019.sched.com/?s=semantics" coords="328,262,352,268" target="wordcloud">
<area shape="rect" alt="24" href="https://cppnow2019.sched.com/?s=sum-types" coords="248,278,272,284" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=complexity" coords="180,394,208,404" target="wordcloud">
<area shape="rect" alt="20" href="https://cppnow2019.sched.com/?s=imperative" coords="260,230,280,236" target="wordcloud">
<area shape="rect" alt="24" href="https://cppnow2019.sched.com/?s=properties" coords="304,246,328,252" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=composition" coords="152,242,180,248" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=conferences" coords="112,286,140,296" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=low+latency" coords="120,114,148,124" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=constructors" coords="388,266,416,272" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=function_ref" coords="136,138,164,148" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=graph+theory" coords="368,370,396,378" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=minimal+code" coords="288,30,320,40" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=optimization" coords="232,318,260,324" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=preprocessor" coords="192,246,224,252" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=statemachine" coords="444,234,476,244" target="wordcloud">
<area shape="rect" alt="36" href="https://cppnow2019.sched.com/?s=communicating" coords="232,366,268,372" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=customization" coords="312,290,344,296" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=ISO+Committee" coords="292,242,324,248" target="wordcloud">
<area shape="rect" alt="36" href="https://cppnow2019.sched.com/?s=name+mangling" coords="96,314,132,324" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=library+design" coords="344,94,376,104" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=linear+algebra" coords="436,110,468,120" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=physical+units" coords="204,94,236,104" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=threat+hunting" coords="100,238,132,248" target="wordcloud">
<area shape="rect" alt="36" href="https://cppnow2019.sched.com/?s=algebraic+types" coords="464,190,500,200" target="wordcloud">
<area shape="rect" alt="36" href="https://cppnow2019.sched.com/?s=compiler+design" coords="68,174,104,184" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=interface+design" coords="88,338,120,346" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=language+feature" coords="224,394,256,404" target="wordcloud">
<area shape="rect" alt="40" href="https://cppnow2019.sched.com/?s=transform_reduce" coords="412,394,452,404" target="wordcloud">
<area shape="rect" alt="40" href="https://cppnow2019.sched.com/?s=inline+namespaces" coords="140,242,180,252" target="wordcloud">
<area shape="rect" alt="44" href="https://cppnow2019.sched.com/?s=spaceship+operator" coords="112,362,156,372" target="wordcloud">
<area shape="rect" alt="44" href="https://cppnow2019.sched.com/?s=discriminated+union" coords="204,62,248,72" target="wordcloud">
<area shape="rect" alt="44" href="https://cppnow2019.sched.com/?s=precompiled+headers" coords="360,394,404,404" target="wordcloud">
<area shape="rect" alt="44" href="https://cppnow2019.sched.com/?s=dependency+injection" coords="116,270,160,280" target="wordcloud">
<area shape="rect" alt="56" href="https://cppnow2019.sched.com/?s=competitive+programming" coords="324,366,380,372" target="wordcloud">
<area shape="rect" alt="52" href="https://cppnow2019.sched.com/?s=human+machine+interface" coords="388,154,440,164" target="wordcloud">
<area shape="rect" alt="64" href="https://cppnow2019.sched.com/?s=deterministic+finite+automaton" coords="164,362,228,372" target="wordcloud">
<area shape="rect" alt="20" href="https://cppnow2019.sched.com/?s=RAII" coords="288,270,308,278" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=audio" coords="384,222,412,230" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=cache" coords="220,270,248,278" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=CMake" coords="384,270,416,278" target="wordcloud">
<area shape="rect" alt="24" href="https://cppnow2019.sched.com/?s=regex" coords="292,254,316,266" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=ISO+C%2B%2B" coords="232,150,264,158" target="wordcloud">
<area shape="rect" alt="32" href="https://cppnow2019.sched.com/?s=lambdas" coords="228,166,260,174" target="wordcloud">
<area shape="rect" alt="28" href="https://cppnow2019.sched.com/?s=linking" coords="248,234,276,246" target="wordcloud">
<area shape="rect" alt="40" href="https://cppnow2019.sched.com/?s=assembly" coords="216,430,256,442" target="wordcloud">
<area shape="rect" alt="40" href="https://cppnow2019.sched.com/?s=proposal" coords="88,138,128,150" target="wordcloud">
<area shape="rect" alt="36" href="https://cppnow2019.sched.com/?s=unicorns" coords="292,234,328,242" target="wordcloud">
<area shape="rect" alt="44" href="https://cppnow2019.sched.com/?s=executors" coords="268,430,312,438" target="wordcloud">
<area shape="rect" alt="44" href="https://cppnow2019.sched.com/?s=assertions" coords="440,266,484,274" target="wordcloud">
<area shape="rect" alt="56" href="https://cppnow2019.sched.com/?s=mathematics" coords="164,102,220,110" target="wordcloud">
<area shape="rect" alt="52" href="https://cppnow2019.sched.com/?s=type+system" coords="172,138,224,150" target="wordcloud">
<area shape="rect" alt="60" href="https://cppnow2019.sched.com/?s=benchmarking" coords="144,430,204,442" target="wordcloud">
<area shape="rect" alt="52" href="https://cppnow2019.sched.com/?s=class+design" coords="268,138,320,150" target="wordcloud">
<area shape="rect" alt="56" href="https://cppnow2019.sched.com/?s=compatibility" coords="256,178,312,190" target="wordcloud">
<area shape="rect" alt="60" href="https://cppnow2019.sched.com/?s=object+lifetime" coords="244,222,304,234" target="wordcloud">
<area shape="rect" alt="84" href="https://cppnow2019.sched.com/?s=software+engineering" coords="100,394,184,406" target="wordcloud">
<area shape="rect" alt="84" href="https://cppnow2019.sched.com/?s=financial+engineering" coords="384,430,468,442" target="wordcloud">
<area shape="rect" alt="44" href="https://cppnow2019.sched.com/?s=ranges" coords="416,226,460,242" target="wordcloud">
<area shape="rect" alt="48" href="https://cppnow2019.sched.com/?s=Spectre" coords="28,262,76,278" target="wordcloud">
<area shape="rect" alt="44" href="https://cppnow2019.sched.com/?s=variant" coords="196,234,240,246" target="wordcloud">
<area shape="rect" alt="60" href="https://cppnow2019.sched.com/?s=coroutines" coords="136,174,196,186" target="wordcloud">
<area shape="rect" alt="68" href="https://cppnow2019.sched.com/?s=refactoring" coords="484,182,552,198" target="wordcloud">
<area shape="rect" alt="68" href="https://cppnow2019.sched.com/?s=type+safety" coords="136,454,204,470" target="wordcloud">
<area shape="rect" alt="80" href="https://cppnow2019.sched.com/?s=secure+coding" coords="264,94,344,110" target="wordcloud">
<area shape="rect" alt="104" href="https://cppnow2019.sched.com/?s=pattern+matching" coords="252,486,356,502" target="wordcloud">
<area shape="rect" alt="144" href="https://cppnow2019.sched.com/?s=domain+specific+language" coords="196,2,340,18" target="wordcloud">
<area shape="rect" alt="36" href="https://cppnow2019.sched.com/?s=ABIs" coords="196,250,232,266" target="wordcloud">
<area shape="rect" alt="48" href="https://cppnow2019.sched.com/?s=C%2B%2B11" coords="96,82,144,98" target="wordcloud">
<area shape="rect" alt="68" href="https://cppnow2019.sched.com/?s=modules" coords="32,182,100,198" target="wordcloud">
<area shape="rect" alt="76" href="https://cppnow2019.sched.com/?s=languages" coords="24,194,100,214" target="wordcloud">
<area shape="rect" alt="76" href="https://cppnow2019.sched.com/?s=efficiency" coords="468,198,544,218" target="wordcloud">
<area shape="rect" alt="96" href="https://cppnow2019.sched.com/?s=modern+C%2B%2B" coords="436,118,532,134" target="wordcloud">
<area shape="rect" alt="88" href="https://cppnow2019.sched.com/?s=correctness" coords="12,210,100,226" target="wordcloud">
<area shape="rect" alt="88" href="https://cppnow2019.sched.com/?s=declarative" coords="448,318,536,334" target="wordcloud">
<area shape="rect" alt="92" href="https://cppnow2019.sched.com/?s=architecture" coords="168,318,260,334" target="wordcloud">
<area shape="rect" alt="124" href="https://cppnow2019.sched.com/?s=design+patterns" coords="24,98,148,118" target="wordcloud">
<area shape="rect" alt="124" href="https://cppnow2019.sched.com/?s=standardization" coords="80,438,204,454" target="wordcloud">
<area shape="rect" alt="52" href="https://cppnow2019.sched.com/?s=SG14" coords="388,66,440,86" target="wordcloud">
<area shape="rect" alt="56" href="https://cppnow2019.sched.com/?s=Boost" coords="124,222,180,242" target="wordcloud">
<area shape="rect" alt="88" href="https://cppnow2019.sched.com/?s=contracts" coords="12,226,100,246" target="wordcloud">
<area shape="rect" alt="96" href="https://cppnow2019.sched.com/?s=education" coords="460,214,556,234" target="wordcloud">
<area shape="rect" alt="100" href="https://cppnow2019.sched.com/?s=containers" coords="352,42,452,62" target="wordcloud">
<area shape="rect" alt="92" href="https://cppnow2019.sched.com/?s=interfaces" coords="428,358,520,378" target="wordcloud">
<area shape="rect" alt="124" href="https://cppnow2019.sched.com/?s=compile-time" coords="24,118,148,142" target="wordcloud">
<area shape="rect" alt="144" href="https://cppnow2019.sched.com/?s=data+structures" coords="300,314,444,334" target="wordcloud">
<area shape="rect" alt="184" href="https://cppnow2019.sched.com/?s=exception+handling" coords="220,14,404,38" target="wordcloud">
<area shape="rect" alt="40" href="https://cppnow2019.sched.com/?s=STL" coords="248,254,288,278" target="wordcloud">
<area shape="rect" alt="72" href="https://cppnow2019.sched.com/?s=C%2B%2B14" coords="72,342,144,366" target="wordcloud">
<area shape="rect" alt="124" href="https://cppnow2019.sched.com/?s=embedded" coords="424,334,548,358" target="wordcloud">
<area shape="rect" alt="116" href="https://cppnow2019.sched.com/?s=allocators" coords="384,86,500,110" target="wordcloud">
<area shape="rect" alt="116" href="https://cppnow2019.sched.com/?s=functional" coords="32,318,148,338" target="wordcloud">
<area shape="rect" alt="164" href="https://cppnow2019.sched.com/?s=polymorphism" coords="200,462,364,490" target="wordcloud">
<area shape="rect" alt="124" href="https://cppnow2019.sched.com/?s=concepts" coords="392,134,516,162" target="wordcloud">
<area shape="rect" alt="108" href="https://cppnow2019.sched.com/?s=libraries" coords="348,370,456,398" target="wordcloud">
<area shape="rect" alt="108" href="https://cppnow2019.sched.com/?s=testing" coords="72,242,180,278" target="wordcloud">
<area shape="rect" alt="120" href="https://cppnow2019.sched.com/?s=security" coords="372,154,492,190" target="wordcloud">
<area shape="rect" alt="208" href="https://cppnow2019.sched.com/?s=build+systems" coords="144,30,352,66" target="wordcloud">
<area shape="rect" alt="220" href="https://cppnow2019.sched.com/?s=cross-platform" coords="204,430,424,466" target="wordcloud">
<area shape="rect" alt="172" href="https://cppnow2019.sched.com/?s=constexpr" coords="76,366,248,402" target="wordcloud">
<area shape="rect" alt="184" href="https://cppnow2019.sched.com/?s=algorithms" coords="388,234,572,274" target="wordcloud">
<area shape="rect" alt="192" href="https://cppnow2019.sched.com/?s=templates" coords="24,138,216,186" target="wordcloud">
<area shape="rect" alt="244" href="https://cppnow2019.sched.com/?s=Clang/LLVM" coords="144,62,388,110" target="wordcloud">
<area shape="rect" alt="412" href="https://cppnow2019.sched.com/?s=generic+programming" coords="104,394,516,438" target="wordcloud">
<area shape="rect" alt="92" href="https://cppnow2019.sched.com/?s=APIs" coords="256,366,348,402" target="wordcloud">
<area shape="rect" alt="288" href="https://cppnow2019.sched.com/?s=best+practices" coords="148,98,436,150" target="wordcloud">
<area shape="rect" alt="284" href="https://cppnow2019.sched.com/?s=concurrency" coords="144,334,428,378" target="wordcloud">
<area shape="rect" alt="164" href="https://cppnow2019.sched.com/?s=C%2B%2B17" coords="216,138,380,186" target="wordcloud">
<area shape="rect" alt="368" href="https://cppnow2019.sched.com/?s=performance" coords="100,174,468,238" target="wordcloud">
<area shape="rect" alt="568" href="https://cppnow2019.sched.com/?s=metaprogramming" coords="4,266,572,334" target="wordcloud">
<area shape="rect" alt="208" href="https://cppnow2019.sched.com/?s=C%2B%2B20" coords="180,222,388,278" target="wordcloud">
</map>
